.main{
    grid-column: 4/7;
    padding-left: 0;
}
.wrapper{
    padding: 10px;
    position: relative;
}
.input{

}
.input input{
    background-color: white;
}
.messages ul{
    padding-left: 0;
}
