*{
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
html{
    background-color: #edeef0;
}
.AppWrapper{

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(42px, auto);
    grid-template-areas:
      "head head head head head head head head head"
      "nav nav nav main main main main main main"
      "foot foot foot foot foot foot foot foot foot";

}
Header{
    grid-area: head;

}
NavBar{
    grid-area: nav;


}
Footer{
    grid-area: foot;

}
Profile{
    grid-area: main;

}
Dialogs{
    grid-area: main;

}
Messages{
    grid-area: main;
}
Users{
    grid-area: main;
}